---
layout: default
permalink: /404.html
---
{% include profile.html %}
<section class="flex-active-slide">
  <div class="item blog blog-single">
    <div class="page-head">
      <div class="row">
        <div class="col-md-12">
          <h3>404</h3>
        </div>
      </div>
    </div>

    <div class="blog-wrap">
      <article>
        <div class="row">
          <div class="col-md-12">
            Sorry, I didn't take care of this page.
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
{% include portfolio.html %}
{% include resume.html %}
{% include contact.html %}
