---
layout: default
---
<section class="flex-active-slide">
  <div class="item resume" id="4">
    <div class="services-info">
      <h4>Technologies</h4>
      <div class="sep2"></div>
      <ul>
        <li>
          <i class="fa fa-road"></i>
          <h5>Ruby on Rails</h5>
        </li>
        <li>
          <i class="fa fa-code"></i>
          <h5>React / Native</h5>
        </li>
        <li>
          <i class="fa fa-cloud"></i>
          <h5>Django</h5>
        </li>
        <li>
          <i class="fa fa-cubes"></i>
          <h5>AWS SDK</h5>
        </li>
        <li>
          <i class="fa fa-wrench"></i>
          <h5>Terraform</h5>
        </li>
        <li>
          <i class="fa fa-tint"></i>
          <h5>Elixir</h5>
        </li>
      </ul>
    </div>
    <div class="resume-info">
      <h4>Education</h4>
      <div class="sep2"></div>
      <ul>
        {% for education in site.categories.education %}
          <li>
            <h5>{{ education.title }}</h5>
            <span class="year"><i class="fa fa-calendar"></i> {{ education.timespan | join: " - " }}</span>
            <p>{{ education.school }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="resume-info">
      <h4>Work Experience</h4>
      <div class="sep2"></div>
      <ul>
        {% for employer in site.categories.employer %}
          <li>
            <h5>{{ employer.job }} at {{ employer.title }}</h5>
            <span class="year"><i class="fa fa-calendar"></i> {{ employer.timespan | join: " - " }}</span>
            <p>{{ employer.content }}</p>
            <i>{{ employer.website }}</i>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="skills-info">
      <h4>Programming Languages with arbitrary percentages</h4>
      <div class="sep2"></div>
      <ul>
        <li>
          <p>Ruby <span>95%</span></p>
          <div class="skills-bg"><span></span></div>
        </li>
        <li>
          <p>JavaScript <span>90%</span></p>
          <div class="skills-bg"><span></span></div>
        </li>
        <li>
          <p>Python <span>85%</span></p>
          <div class="skills-bg"><span></span></div>
        </li>
        <li>
          <p>Java <span>78%</span></p>
          <div class="skills-bg"><span></span></div>
        </li>
        <li>
          <p>CoffeeScript <span>80%</span></p>
          <div class="skills-bg"><span></span></div>
        </li>
        <li>
          <p>C# <span>65%</span></p>
          <div class="skills-bg"><span></span></div>
        </li>
      </ul>
    </div>
    <div class="resume-info">
      <h4>Certification</h4>
      <div class="sep2"></div>
      <ul>
        {% for certification in site.categories.certification %}
          <li>
            <h5>{{ certification.title }}</h5>
            <span class="year"><i class="fa fa-calendar"></i> {{ certification.date | date: "%Y" }}</span>
            <p><a href="{{ certification.pdf_file }}" target="_blank">{{ certification.provider }} (PDF file)</a></p>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="resume-info">
      <h4>Courses</h4>
      <div class="sep2"></div>
      <ul>
        {% for course in site.categories.course %}
          <li>
            <h5>{{ course.title }}</h5>
            <span class="year"><i class="fa fa-calendar"></i> {{ course.date | date: "%Y" }}</span>
            <p><a href="{{ course.pdf_file }}" target="_blank">{{ course.provider }} (PDF file)</a></p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<script src="/assets/js/jquery.appear.js"></script>
<script>
  /* Skills */
  jQuery(document).ready(function($) {
    "use strict";
    $('.skills-info').appear(function() {
      $('.skills-bg').each(function() {
        var percentage = $(this).parent().find('p span').text();
        $(this).find('span').animate({ width: percentage }, 1000);
      });
    },{accX: 0, accY: -150});
  });
</script>
