<!-- Contact -->
<section id="contact">
  <div id="map"></div>
  <!-- Contact Info -->
    <div class="contact-info">
        <h3 class="main-heading"><span>Contact info</span></h3>
      <ul>
            <li>{{ site.my.address }}<br /><br /></li>
            <li>Email: {{ site.my.email }}</li>
            <li>Phone: {{ site.my.mobile }}</li>
            <li>Website: {{ site.url }}</li>
        </ul>
    </div>
    <!-- /Contact Info -->
    
    <!-- Contact Form -->
    <div class="contact-form">
        <h3 class="main-heading"><span>Let's keep in touch</span></h3>
        <div id="contact-status"></div>
        <form action="" id="contactform">
            <p>
              <label for="name">Your Name</label>
              <input type="text" name="name" class="input" >
            </p>
            <p>
              <label for="email">Your Email</label>
              <input type="text" name="email" class="input">
            </p>
            <p>
              <label for="message">Your Message</label>
                <textarea name="message" cols="88" rows="6" class="textarea" ></textarea>
            </p>
            <input type="submit" name="submit" value="Send your message" class="button transition">
        </form>
    </div>
    <!-- /Contact Form -->
</section>
<!-- /contact -->  