<!-- Portfolio -->
<section id="portfolio">
	<ul class="cats-filter" id="portfolio-filter">
		<li><a href="" class="current transition" data-filter="*">All</a></li>
		<li><a href="" class="transition" data-filter=".webdesign">WebDesign</a></li>
		<li><a href="" class="transition" data-filter=".photography">Photography</a></li>
		<li><a href="" class="transition" data-filter=".illustration">Illustration</a></li>
		<li><a href="" class="transition" data-filter=".print">Print</a></li>
		<li><a href="" class="transition" data-filter=".animation">Animation</a></li>
	</ul>
	<!-- <div class="extra-text">Some of the projects i'm proud with</div> -->
	<ul id="portfolio-list">
	{% for project in site.categories.project %}
		<li class="{{ project.tags | join: " " }}">
			<a href="{{ project.url }}" rel="portfolio" class="folio">
			  <img src="{{ project.thumbnail }}" alt="" >
			  <h2 class="title">{{ project.title }}</h2>
			  <span class="categorie">{{ project.tags | join: " / " }}</span>
			</a>
		</li>
	{% endfor %}
	</ul>
</section>
<!-- /Portfolio -->
