<!-- Portfolio -->
<section id="portfolio">
     <ul class="cats-filter" id="portfolio-filter">
        <li><a href="" class="current transition" data-filter="*">All</a></li>
        <li><a href="" class="transition" data-filter=".webdesign">WebDesign</a></li>
        <li><a href="" class="transition" data-filter=".photoghraphy">Photoghraphy</a></li>
        <li><a href="" class="transition" data-filter=".illustration">Illustration</a></li>
        <li><a href="" class="transition" data-filter=".print">Print</a></li>
        <li><a href="" class="transition" data-filter=".animation">Animation</a></li>
    </ul>
    <div class="extra-text">Some of the projects i'm proud with</div>
    <ul id="portfolio-list">
        <li class="illustration print">
            <a href="portfolio/1.jpg" rel="portfolio[1]" title="Lorem ipsum dolor sit amet, consectetur adipiscing Vivamus sit amet ligula non lectus.consectetur adipiscingVivamus sit amet" class="folio">
                <img src="portfolio/1-thumb.jpg" alt="Image Title">
                <h2 class="title">Hello Goodbye</h2>
                <span class="categorie">Print / Illustration</span> 
            </a>
            <a href="portfolio/4.jpg" rel="portfolio[1]" title="This is the description" class="folio hidden"></a>
            <a href="portfolio/4.jpg" rel="portfolio[1]" title="This is the description" class="folio hidden"></a>
            <a href="portfolio/4.jpg" rel="portfolio[1]" title="This is the description" class="folio hidden"></a>
            <a href="portfolio/4.jpg" rel="portfolio[1]" title="This is the description" class="folio hidden"></a>
            <a href="portfolio/4.jpg" rel="portfolio[1]" title="This is the description" class="folio hidden"></a>
            <a href="portfolio/4.jpg" rel="portfolio[1]" title="This is the description" class="folio hidden"></a>
      </li>
        <li class="webdesign">
            <a href="http://www.youtube.com/watch?v=qqXi8WmQ_WM" rel="portfolio" title="This is the description" class="folio">
                <img src="portfolio/3-thumb.jpg" alt="" >
                <h2 class="title">Snow time</h2>
                <span class="categorie">Webdesign</span> 
            </a>
      </li>                        
        <li class="photoghraphy">
            <a href="http://www.google.com" target="_new">
                <img src="portfolio/2-thumb.jpg" alt="" >                            
                <h2 class="title">Help us</h2>
                <span class="categorie">Photography</span> 
            </a>
      </li>
        <li class="animation print">
            <a href="portfolio/4.jpg" rel="portfolio" class="folio">
                <img src="portfolio/4-thumb.jpg" alt="" >
                <h2 class="title">Sunshine</h2>
                <span class="categorie">Print / Animation</span> 
            </a>
      </li>
        <li class="animation">
            <a href="portfolio/5.jpg" rel="portfolio" class="folio">
                <img src="portfolio/5-thumb.jpg" alt="" >
                <h2 class="title">Come together</h2>
                <span class="categorie">Animation</span> 
            </a>
      </li>
        <li class="webdesign print">
            <a href="portfolio/6.jpg" rel="portfolio" class="folio">
                <img src="portfolio/6-thumb.jpg" alt="" >
                <h2 class="title">The yellow</h2>
                <span class="categorie">Webdesign / Print</span> 
            </a>
      </li>
        <li class="photoghraphy">
            <a href="portfolio/7.jpg" rel="portfolio" class="folio">
                <img src="portfolio/7-thumb.jpg" alt="" >
                <h2 class="title">Black bird</h2>
                <span class="categorie">Photoghraphy</span> 
            </a>
      </li>
        <li class="illustration">
            <a href="portfolio/8.jpg" rel="portfolio" class="folio">
                <img src="portfolio/8-thumb.jpg" alt="" >
                <h2 class="title">Revolution</h2>
                <span class="categorie">Illustration</span> 
            </a>
      </li>
    </ul>
</section>
<!-- /Portfolio -->  
