<!-- Portfolio -->
<section id="portfolio">
	<ul class="cats-filter" id="portfolio-filter">
		<li><a href="" class="current transition" data-filter="*">All</a></li>
		<li><a href="" class="transition" data-filter=".django">Django</a></li>
		<li><a href="" class="transition" data-filter=".front-end">Front-end</a></li>
	</ul>
	<!-- <div class="extra-text">Some of the projects i'm proud with</div> -->
	<ul id="portfolio-list">
	{% for project in site.categories.project %}
		<li class="{{ project.tags | join: " " }}">
			{{ project.content }}
		</li>
	{% endfor %}
	</ul>
</section>
<!-- /Portfolio -->
