<!-- Resume -->
<section id="resume">
	<div class="timeline-section">
		<!-- Timeline for Employment  -->
		<h3 class="main-heading">Employment</h3>
		<ul class="timeline">
		{% for employer in site.categories.employer %}
			<li>
				<div class="timelineUnit">
					<h4>{{ employer.job }}<span class="timelineDate">{{ employer.timespan | join: " - " }}</span></h4>
					<h5>{{ employer.title }} - {{ employer.website }}</h5>
					<p>{{ employer.content }}</p>
				</div>
			</li>
		{% endfor %}
			<div class="clear"></div>
		</ul> 
		<!-- /Timeline for Employment  -->

		<!-- Timeline for Education  -->
		<h3 class="main-heading">Education</h3>
		<ul class="timeline">
		{% for education in site.categories.education %}
			<li>
				<div class="timelineUnit">
					<h4>{{ education.title }}<span class="timelineDate">{{ education.timespan | join: " - " }}</span></h4>
					<h5>{{ education.school }}</h5>
				</div>
			</li>
		{% endfor %}
			<div class="clear"></div>
		</ul> 
		<!-- /Timeline for Education  -->
	</div>

	<div class="skills-section">
		<!-- Skills -->
		<h3 class="main-heading">Programming Languages</h3>
		<ul class="skills">
			<li>
				<h4>Ruby</h4>
				<div class="rating" data-rat="6"></div>
			</li>
			<li>
				<h4>Python</h4>
				<div class="rating" data-rat="6"></div>
			</li>
			<li>
				<h4>Java</h4>
				<div class="rating" data-rat="7"></div>
			</li>
			<li>
				<h4>JavaScript</h4>
				<div class="rating" data-rat="6"></div>
			</li>
			<li>
				<h4>C#</h4>
				<div class="rating" data-rat="5"></div>
			</li>
		</ul>
		<h3 class="main-heading">Web Frameworks</h3>
		<ul class="skills">
			<li>
				<h4>Django</h4>
				<div class="rating" data-rat="7"></div>
			</li>
			<li>
				<h4>Ruby on Rails</h4>
				<div class="rating" data-rat="6"></div>
			</li>
			<li>
				<h4>Flask</h4>
				<div class="rating" data-rat="6"></div>
			</li>
			<li>
				<h4>Express (Node.js)</h4>
				<div class="rating" data-rat="5"></div>
			</li>
			<li>
				<h4>ASP.NET/MVC</h4>
				<div class="rating" data-rat="5"></div>
			</li>
		</ul>
		<h3 class="main-heading">PaaS</h3>
		<ul class="skills">
			<li>
				<h4>Heroku</h4>
				<div class="rating" data-rat="7"></div>
			</li>
			<li>
				<h4>Google App Engine</h4>
				<div class="rating" data-rat="6"></div>
			</li>
			<li>
				<h4>Amazon Web Services</h4>
				<div class="rating" data-rat="5"></div>
			</li>
		</ul>
	<!-- /Skills -->
	</div>
	<div class="clear"></div>
	<a href="#" class="button transition">Download resume as PDF format</a>
</section>
<!-- /Resume -->
