<!-- Resume -->
<section id="resume">
	<div class="timeline-section">
		<!-- Timeline for Employment  -->
		<h3 class="main-heading">Employment</h3>
		<ul class="timeline">
			<li>
				<div class="timelineUnit">
					<h4>Developer<span class="timelineDate">2013 - Present</span></h4>
					<h5>TopTal - toptal.com</h5>
					<p>Full stack development. Backend: Django or Ruby on Rails.</p>
				</div>
			</li>
			<li>
				<div class="timelineUnit">
					<h4>Software Developer<span class="timelineDate">2013</span></h4>
					<h5>IT Solutions - its.az</h5>
					<p>Customizing existing document flow management software written on Java, Spring and GWT for the needs of customer. Developing jBPM workflows.</p>
				</div>
			</li>
			<li>
				<div class="timelineUnit">
					<h4>Junior Software Developer<span class="timelineDate">2010</span></h4>
					<h5>SilverKey Egypt - egypt.silverkeytech.com</h5>
					<p>AIESEC powered internship. Developing web applications using Python/Django.</p>
				</div>
			</li>
			<li>
				<div class="timelineUnit">
					<h4>Webmaster<span class="timelineDate">2008 - 2011</span></h4>
					<h5>Microsoft Azerbaijan - microsoft.az</h5>
					<p>Localizing and maintaining microsoft.az. Also making upgrades for Microsoft Sharepoint based intranet CMS.</p>
				</div>
			</li>
			<li>
				<div class="timelineUnit">
					<h4>Software Developer<span class="timelineDate">2008 - 2010</span></h4>
					<h5>SilverKey Technologies - silverkey.az</h5>
					<p>Started as an HTML cutter. Then became a web application developer using C#/.NET solutions.</p>
				</div>
			</li>
			<div class="clear"></div>
		</ul> 
		<!-- /Timeline for Employment  -->

		<!-- Timeline for Education  -->
		<h3 class="main-heading">Education</h3>
		<ul class="timeline">
			<li>
				<div class="timelineUnit">
					<h4>System Programming<span class="timelineDate">2013 - present</span></h4>
					<h5>Baku State University</h5>
				</div>
			</li>
			<li>
				<div class="timelineUnit">
					<h4>Applied Mathematics<span class="timelineDate">2007 - 2011</span></h4>
					<h5>Baku State University</h5>
				</div>
			</li>
			<div class="clear"></div>
		</ul> 
		<!-- /Timeline for Education  -->
	</div>

	<div class="skills-section">
		<!-- Skills -->
		<h3 class="main-heading">Programming Languages</h3>
		<ul class="skills">
			<li>
				<h4>Ruby</h4>
				<div class="rating" data-rat="6"></div>
			</li>
			<li>
				<h4>Python</h4>
				<div class="rating" data-rat="6"></div>
			</li>
			<li>
				<h4>Java</h4>
				<div class="rating" data-rat="7"></div>
			</li>
			<li>
				<h4>JavaScript</h4>
				<div class="rating" data-rat="6"></div>
			</li>
			<li>
				<h4>C#</h4>
				<div class="rating" data-rat="5"></div>
			</li>
		</ul>
		<h3 class="main-heading">Web Frameworks</h3>
		<ul class="skills">
			<li>
				<h4>Django</h4>
				<div class="rating" data-rat="7"></div>
			</li>
			<li>
				<h4>Ruby on Rails</h4>
				<div class="rating" data-rat="6"></div>
			</li>
			<li>
				<h4>Flask</h4>
				<div class="rating" data-rat="6"></div>
			</li>
			<li>
				<h4>Express (Node.js)</h4>
				<div class="rating" data-rat="5"></div>
			</li>
			<li>
				<h4>ASP.NET/MVC</h4>
				<div class="rating" data-rat="5"></div>
			</li>
		</ul>
		<h3 class="main-heading">PaaS</h3>
		<ul class="skills">
			<li>
				<h4>Heroku</h4>
				<div class="rating" data-rat="7"></div>
			</li>
			<li>
				<h4>Google App Engine</h4>
				<div class="rating" data-rat="6"></div>
			</li>
			<li>
				<h4>Amazon Web Services</h4>
				<div class="rating" data-rat="5"></div>
			</li>
		</ul>
	<!-- /Skills -->
	</div>
	<div class="clear"></div>
	<a href="#" class="button transition">Download resume as PDF format</a>
</section>
<!-- /Resume -->
