<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="keywords" content="{{ page.tags | join: ',' }}">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.data.my.about }}{% endif %}">
  <meta name="author" content="{{ site.data.my.name }}">
  <link rel="canonical" href="{{ site.full_url }}{{ page.url | replace:'index.html','' }}">
  {% include ograph.html %}

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

  <!-- Mobile Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link rel="shortcut icon" href="/assets/images/favicons/favicon.png">
  <link rel="apple-touch-icon" href="/assets/images/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-touch-icon-144x144.png">

  <!-- Google Webfonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,800,700italic,600italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Neuton:400,200,300' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="/assets/js/libs/respond.min.js"></script>
  <![endif]-->

  <!--[if lt IE 9]>
  <script src="/assets/js/libs/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="/assets/scss/main.css">
</head>
<body>
{% include analytics.html %}


<!-- LOADING MASK -->
<div id="mask">
  <div class="loader">
    <img src="/assets/images/loading.gif" alt='loading'>
  </div>
</div>

<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="container no-padding">
    <div class="row">
      <div class="col-md-3 l-content">
        <div class="profile-pic">
          <div class="pic-bg"><a href="/"><img src="/assets/photo/profile.png" class="img-responsive" alt=""/></a></div>
        </div>
        <nav>
          <ul class="navigation">
            <li><a href="#profile">Profile <i class="fa fa-user"></i></a></li>
            <li><a href="{% if page.url contains '/descripting/' %}/{% endif %}#descripting">Descripting <i class="fa fa-pencil"></i></a></li>
            <li><a href="#portfolio">Portfolio <i class="fa fa-briefcase"></i></a></li>
            <li><a href="#resume">Resume <i class="fa fa-file-text"></i></a></li>
            <li><a href="#contact">Contact <i class="fa fa-envelope"></i></a></li>
          </ul>
        </nav>
      </div>

      <div class="col-md-9 r-content">
        <div class="flexslider">
          <div class="slides">
            {{ content }}
          </div>
        </div>

        <!-- FOOTER -->
        {% include footer.html %}
      </div>
    </div>
  </div>
</div>
<!-- MAIN CONTENT -->

<!-- JavaScript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/assets/js/jquery.flexslider.js"></script>
<script src="/assets/js/jquery.easing.js"></script>
<script src="/assets/js/jquery.mixitup.min.js"></script>
<script src="/assets/js/nivo-lightbox.min.js"></script>
<script src="/assets/js/jquery.appear.js"></script>
<script src="/assets/js/jquery.inview.js"></script>
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/moment-timezone-with-data-2010-2020.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/animations.js"></script>

<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="/assets/js/gmaps.js"></script>

<script>
  /* Flexslider */
  $(window).load(function() {
    "use strict";
    var slideMap = {
      '#profile': 0,
      '#descripting': 1,
      '#portfolio': 2,
      '#resume': 3,
      '#contact': 4
    }
    $('.flexslider').flexslider({
      startAt:
      {% if page.url contains '/descripting/' %}
        1
      {% else %}
        (window.location.hash in slideMap ? slideMap[window.location.hash] : 0)
      {% endif %}
    });
  });
</script>

</body>
</html>
