<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="keywords" content="HTML5 Template" />
  <meta name="description" content="Multipress - Responsive Multipurpose HTML5 Template">
  <meta name="author" content="{{ site.data.my.name }}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

  <!-- Mobile Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-touch-icon-144x144.png">

  <!-- Google Webfonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,800,700italic,600italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Neuton:400,200,300' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="/assets/js/libs/respond.min.js"></script>
  <![endif]-->

  <!--[if lt IE 9]>
  <script src="/assets/js/libs/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="/assets/scss/main.css">
</head>
<body>

<!-- LOADING MASK -->
<div id="mask">
  <div class="loader">
    <img src="/assets/images/loading.gif" alt='loading'>
  </div>
</div>

<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="container no-padding">
    <div class="row">
      <div class="col-md-3 l-content">
        <div class="profile-pic">
          <div class="pic-bg"><img src="/assets/photo/profile.png" class="img-responsive" alt=""/></div>
        </div>
        <nav>
          <ul class="navigation">
            <li><a href="#">Profile <i class="fa fa-user"></i></a></li>
            <li><a href="#">Portfolio <i class="fa fa-briefcase"></i></a></li>
            <li><a href="#">Resume <i class="fa fa-file-text"></i></a></li>
            <li><a href="#">Blog <i class="fa fa-comment"></i></a></li>
            <li><a href="#">Contact <i class="fa fa-envelope"></i></a></li>
          </ul>
        </nav>
      </div>

      <div class="col-md-9 r-content">
        <div class="flexslider">
          <div class="slides">
            {% include profile.html %}
            {% include portfolio.html %}
            {% include resume.html %}
            {% include blog.html %}
            {% include contact.html %}
          </div>
        </div>

        <!-- FOOTER -->
        {% include footer.html %}
      </div>
    </div>
  </div>
</div>
<!-- MAIN CONTENT -->

<!-- JavaScript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/jquery.flexslider.js"></script>
<script src="/assets/js/jquery.easing.js"></script>
<script src="/assets/js/jquery.mixitup.min.js"></script>
<script src="/assets/js/nivo-lightbox.min.js"></script>
<script src="/assets/js/jquery.appear.js"></script>
<script src="/assets/js/jquery.inview.js"></script>
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/moment-timezone-with-data-2010-2020.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/animations.js"></script>

<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="/assets/js/gmaps.js"></script>


</body>
</html>
