<html dir="ltr" lang="en-US" xmlns="http://www.w3.org/1999/xhtml">

<head>
    
    <title>{{ site.name }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css"/> 
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/prettyPhoto.css"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700,400italic|PT+Serif:400,400italic"/>
    <!--[if IEMobile]> 
    <link rel="stylesheet" type="text/css" href="assets/css/iemobile.css"/>
    <![endif]--> 
    
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.easytabs/3.2.0/jquery.easytabs.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/1.5.25/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-ui-map/3.0-rc1/min/jquery.ui.map.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.caroufredsel/6.1.0/jquery.carouFredSel.packed.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
    <script type="text/javascript" src="assets/js/moment-timezone.min.js"></script>
    <script type="text/javascript" src="assets/js/moment-timezone-data.js"></script>
    <script type="text/javascript" src="assets/js/plugins.js"></script>
    <script type="text/javascript" src="assets/js/custom.js"></script>

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
</head>
    <body>
        <!-- Container -->
        <section id="container">
        
            <!-- Header -->
      <header> 
              <!-- Logo -->
              <div id="logo">
                  <h2>{{ site.my.name | upcase }}</h2>
                    <h4>{{ site.my.profession | upcase }}</h4>
                </div>
                <!-- /Logo -->
                
                {% include social_icons.html %}
            </header>
            <!-- /Header -->
            
            <!-- Content -->
            <section id="content" >
                
                {% include profile.html %}

                <!-- Menu -->
                <nav class="menu">
                  <ul class="tabs">
                        <li class="tmenu"><a href="#profile" class="tab-profile"><i>&#x43;</i>Profile</a></li>
                        <li class="tmenu"><a href="#resume"><i>&#x3a;</i>Resume</a></li>
                        <li class="tmenu"><a href="#portfolio"><i>&#x38;</i>Portfolio</a></li>
                        <li class="tmenu"><a href="#contact"><i>&#x21;</i>Contact</a></li>
                    </ul>
                    <a class="prev" id="menu-prev" href="#">&#xe073;</a>
                    <a class="next" id="menu-next" href="#">&#xe076;</a>

                </nav>
                <!-- /Menu --> 
                
                {% include resume.html %}
                                        
                {% include portfolio.html %}
                 
                {% include contact.html %}

            </section>
            <!-- /Content -->
            
            <!-- Footer -->
      <footer>
              <div class="copyright">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.my.name }}</div>
            </footer>
            <!-- /Footer --> 
            
        </section>
    <!-- /Container -->

    </body>
</html>
