---
layout: default
---
<section class="flex-active-slide">
  <div class="item blog blog-single">
    <div class="page-head">
      <div class="row">
        <div class="col-md-12">
          <h3>{{ page.title }}</h3>
          <div class="post-meta">
            <i class="fa fa-calendar"></i> {{ page.date | date: "%b %-d, %Y" }}
          </div>
        </div>
      </div>
    </div>

    <div class="blog-wrap">
      <article>
        <div class="row">
          <div class="col-md-12">
            {{ content }}
          </div>
        </div>
      </article>

      <div class="comments-wrap">

      </div>
    </div>
  </div>
</section>
