---
layout: default
---
<section class="flex-active-slide">
  <div class="item blog blog-single" itemscope itemtype="http://schema.org/Article">
    <div class="page-head">
      <div class="row">
        <div class="col-md-12">
          <h3 itemprop="name">{{ page.title }}</h3>
          <div class="post-meta" itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}">
            <i class="fa fa-calendar"></i>
            <a href="{{ page.url }}">{{ page.date | date: "%b %-d, %Y" }}</a>
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <i class="fa fa-user"></i> <a href="https://plus.google.com/+AliIsmayilov1?rel=author"><span itemprop="name">{{ site.data.my.name }}</span></a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="blog-wrap">
      <article itemprop="articleBody">
        {{ content }}
      </article>

      <div class="comments-wrap">
        {% include disqus.html %}
      </div>
    </div>
  </div>
</section>
